/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-weight: normal;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    border-bottom: solid 1px #333;
}

nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li.active a {
    background-color: #000;
    color: #fff;
}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}

/* References for this CSS: */
/* https://www.youtube.com/watch?v=vCG7tfn9Yw8 */
/* https://weblabs.spartandesignuniversity.com/web-forms.php */

/*----------- FORM STYLING: stopped at 3 minutes --------------*/
.wf1 fieldset {
    margin: 2rem 0;
    /* light grey #ddd */
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    /* blue */
    color: #445ba9;
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    /* red */
    color: #9c2c13;
    font-size: .9rem;
}

.wf1 div {
    /* Same a padding-top in .wf1 label */
    padding-top: 1rem;
    /* Same as .wf1 legend color */
    color: #445ba9;
    /* Same as font-size of .wf1 label */
    font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 select,
.wf1 input[type="number"] {
    /* Soft grey color */
    background-color: #eee;
    display: block;
    /* Grey border */
    border: 1px solid #999;
    border-radius: 6px;
    /* For mobile, need at least 44px tall */
    padding: .75rem;
    /* Text color grey */
    color: #555;
    width: 100%;
    /* This prevents it from becoming to wide. */
    max-width: 400px;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;
}

.wf1 input[type="submit"] {
    border: none;
    /* colors lighter red to a darker red */
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    /* For mobile, need at least 44px tall */
    padding: .75rem;
    width: 96%;
    max-width: 400px;
    /* margin: above right bottom left */
    /* 96% + 2% on right + 2% on left = 100% */
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    /* Overrides default mobile browser styling */
    appearance: none;
}

.wf1 input:required {
    border-left: 8px solid red;
}

.wf1 input:required:valid {
    border-left: 8px solid green;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}