* {
    box-sizing: border-box;
}

/* Reference for how to use root colors: */
/* https://byui-cse.github.io/wdd230-course/lesson04/pseudo-classes.html */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    --dark-red: #a50000;
    --dark-grey: #1d1a1a;
    --medium-grey: #595959;
    --light-grey: #ccc;
    --black: #000000;
    --white: #ffffff;
    --light-red: #ffcccc;
    --lora: 'Lora', serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

h1,
h2,
button {
    font-family: 'Lora', serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

header {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    background-color: var(--dark-grey);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    color: var(--white);
    text-align: center;
}

/* Reference for styling images to get a circle image: */
/* https://www.w3schools.com/css/css3_images.asp */
header img {
    border-radius: 100%;
    width: 100%;
    height: auto;
    border: 5px solid var(--dark-red);
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

header h1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 100%;
    font-size: 7vw;
    justify-self: center;
    align-self: center;
}

header p {
    display: none;
}

#menuHeader {
    position: relative;
    background-color: var(--dark-red);
    width: 100%;
    height: 70px;
    margin: 0;
}

#menuHeader a {
    /* Reference for removing underline from link: */
    /* https://blog.hubspot.com/website/remove-underline-from-links-css */
    text-decoration: none;
    color: var(--white);
    line-height: 67px;
}

/* Reference for symbol: */
/* https://www.toptal.com/designers/htmlarrows/symbols/ */
/* Hamburger symbol */
#menuHeader a::before {
    position: absolute;
    left: 15px;
    content: "\02630";
    font-size: 50px;
}

/* Reference for closing X checkbox: 2612 */
/* https://www.compart.com/en/unicode/U+2612 */
#menuHeader a.show::before {
    content: "\2612";
    font-size: 50px;
}

/* Reference how to create a toggle switch: */
/* https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: absolute;
    display: inline-block;
    top: 18px;
    right: 15px;
    width: 60px;
    height: 34px;
    /* positions moon/sun symbol */
    line-height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-grey);
    outline: 3px solid var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: attr(content-before);
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    font-size: 18px;
    text-align: center;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--white);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    border: 1px solid var(--black);
}

.navigation li {
    display: none;
}

.show li {
    display: block;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    border: 2px solid var(--dark-grey);
    text-align: center;
    background-color: var(--dark-grey);
}

nav ul li:hover {
    border: 2px solid var(--white);
    background-color: var(--light-grey);
}

nav ul li:hover a {
    color: var(--black);
}

/* Reference for how to make entire li clickable: */
/* https://stackoverflow.com/questions/14803009/make-entire-li-clickable-with-a-element-inside-without-javascript */
nav ul li a {
    display: block;
    height: 40px;
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

main {
    padding-bottom: 100px;
}

/* Section 1 */
main #section1 {
    position: relative;
}

main h2:nth-of-type(1) {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
}

main #section1 img {
    width: 100%;
    height: auto;
}

.heroLabel {
    position: absolute;
    top: 10vw;
    margin-left: 25vw;
    width: 30%;
    border: 1px solid #000;
    /* opacity is done with rgba with 0.75 as the opacity */
    background: radial-gradient(rgba(255, 255, 255, 0.7), rgba(29, 65, 82, 0.2));
    box-shadow: 0 0 3rem #fff;
    padding: 1px;
    text-align: center;
    font-size: 20px;
}

/* Small p block */
.heroLabel p:nth-of-type(1) {
    display: block;
}

/* Medium and large p blocks */
.heroLabel p:nth-of-type(2),
.heroLabel p:nth-of-type(3) {
    display: none;
}

main #section1 span {
    display: block;
    position: relative;
    top: -4px;
    background-color: var(--dark-red);
    width: 100%;
    /* Reference for how to vertically center a tag: */
    /* https://stackoverflow.com/questions/15393352/vertically-center-a-tag */
    height: 50px;
    line-height: 55px;
    text-align: center;
}

main #section1 button {
    font-family: var(--lora);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
    font-size: 20px;
    font-weight: bold;
    border: 5px double var(--dark-red);
}

main #section1 p {
    padding: 0 20px;
    line-height: 30px;
}

/* Section 2 */
/* Arts museum image */
main #section2 img {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Events soon to come */
main #section2 div {
    display: grid;
    background-color: var(--dark-grey);
    padding: 10px;
}

main #section2 div h3 {
    color: var(--white);
    font-weight: bold;
    font-family: var(--lora);
    margin: 0;
    padding-bottom: 10px;
    justify-self: center;
}

main #section2 div button {
    padding: 5px;
    font-size: 15px;
    background-color: var(--dark-red);
    color: var(--white);
    border-radius: 5px;
    outline: 2px solid var(--white);
}

/* Section 3 */
main #section3 .circle {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: var(--dark-red);
    color: var(--white);
    text-align: center;
    margin: 100px auto;
    /* Reference for border styling: */
    /* https://www.w3schools.com/cssref/pr_border-style.php */
    border: 10px double var(--white);
}

/* Reference for how to horizontally center an absolute element: */
/* https://css-tricks.com/forums/topic/horizontal-centering-of-an-absolute-element/ */
main #section3 .circle span:nth-of-type(1) {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    font-size: 60px;
}

main #section3 .circle span:nth-of-type(2) {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    font-size: 30px;
}

/* Section 4 */
/* Learn more about the team button */
main #section4 {
    text-align: center;
    margin-bottom: 100px;
}

main #section4 button {
    border: 5px solid var(--dark-red);
    color: var(--black);
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

main #section4 img {
    width: 100%;
}

main #section4 h2 {
    margin-top: 100px;
}

main #section4 .spotlight {
    margin: 0 20px;
}

main #section4 .spotlight h3 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: var(--dark-red);
    color: var(--white);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

main #section4 .spotlight p {
    width: 100%;
    height: 150px;
    line-height: 25px;
    background-color: var(--light-grey);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 10px;
    font-weight: bold;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Section 5 */
/* Weather */
main #section5 {
    background-color: var(--dark-red);
    color: var(--white);
    border: 5px solid var(--dark-grey);
    margin: 0 20px;
}

/* Reference for how to make underline longer than headline: */
/* https://stackoverflow.com/questions/7294369/how-can-i-make-an-underline-some-pixels-longer-than-the-headline */
main #section5 h3 {
    font-family: var(--lora);
    border-bottom: 1px solid var(--white);
    font-size: 30px;
    text-align: center;
    margin: 5px 40px;
}

main #section5 div {
    font-size: 23px;
    text-align: center;
    width: 100%;
    height: auto;
    line-height: 40px;
}

main #section5 div>span {
    display: block;
}

main #section5 h4 {
    background-color: var(--dark-red);
    color: var(--white);
    border-top: 5px solid var(--dark-grey);
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    height: 60px;
    line-height: 50px;
    text-align: center;
    margin: 0;
}

main #section5 h4 a {
    text-decoration: none;
    color: var(--white);
}

main #section5 h4:hover {
    background-color: var(--dark-grey);
}

footer {
    background-color: var(--dark-grey);
    color: var(--white);
    text-align: center;
    padding: 20px;
}

/* Specific styling for Discover Page */
main.discoverPage {
    padding: 0;
}

.sidebarContent {
    margin: 20px;
    /* References for box shadow: */
    /* https://www.w3schools.com/css/css3_shadows_box.asp */
    /* https://www.w3schools.com/css/tryit.asp?filename=trycss3_box-shadow4 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebarContent h2 {
    background-color: var(--light-grey);
}

.sidebarContent p {
    padding: 20px;
    margin: 0;
}

.sidebarContent figure {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.sidebarContent img {
    width: 100%;
    height: auto;
}

.sidebarContent figcaption {
    position: relative;
    top: -4px;
    text-align: center;
    padding: 5px;
    background-color: var(--light-grey);
    font-weight: bold;
}

.calendar {
    text-align: center;
}

.calendar p {
    line-height: 50px;
}

.imageGallery figure {
    margin: 20px;
    text-align: center;
}

.imageGallery picture {
    margin: 0;
    padding: 0;
}

.imageGallery figcaption {
    position: relative;
    top: -4px;
    border: 5px double var(--dark-red);
    background-color: var(--light-grey);
    color: var(--black);
    font-weight: bold;
    padding: 10px;
}

.imageGallery img {
    width: 100%;
    height: auto;
}