@media (min-width: 1000px) {
    html {
        margin: 0 200px;
        background-color: var(--light-grey);
    }

    body {
        background-color: var(--white);
    }

    main #section1 {
        margin-bottom: 100px;
    }

}

@media (min-width: 1290px) {
    main #section1 {
        margin-bottom: 350px;
    }
}