/* Mobile */

/* Reference for how to make text responsive (text gradually gets smaller as screen size gets smaller): */
/* https://www.smashingmagazine.com/2016/05/fluid-typography/ */
html {
    font-size: 3vw;
}

/* References for font-family: */
/* https://www.w3schools.com/cssref/pr_font_font-family.php */
/* https://fonts.google.com/ */
body {
    font-family: 'Noto Serif', serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

header,
nav,
.hero,
main,
footer {
    margin: 0 auto;
}

/* Reference for grid gap between columns: */
/* https://www.w3schools.com/cssref/pr_grid-column-gap.php#:~:text=Definition%20and%20Usage,to%20column%2Dgap%20in%20CSS3. */
header {
    display: grid;
    grid-template-columns: 1fr 2.5fr 0.5fr;
    background: #1d4152;
    padding: 1.3rem;
}

/* Reference for how to make image responsive: */
/* https://www.w3schools.com/css/css_rwd_images.asp */
header img {
    width: 12vh;
    height: auto;
    grid-column: 1 / 2;
}

header h1 {
    grid-column: 2 / 3;
    color: white;
    /* helps vertically center h1 tag */
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2em;
    text-align: center;
}

/* References on how to create hamburger menu: */
/* https://byui-cse.github.io/wdd230-course/lesson03/responsive-menu.html */
/* https://codepen.io/blazzard-jason/pen/gmGxaj/ */
/* Reference for how to position before pseudo-element: */
/* https://stackoverflow.com/questions/23566624/before-pseudo-element-without-moving-actual-content */
#menu {
    position: relative;
    grid-column: 3 / 4;
    /* Reference for removing underline from link: */
    /* https://blog.hubspot.com/website/remove-underline-from-links-css */
    text-decoration: none;
    text-align: center;
    font-size: 70px;
    /* Reference for font-weight: */
    /* https://www.w3schools.com/cssref/pr_font_weight.php */
    font-weight: bold;
    color: #fff;
}

#menu::before {
    position: absolute;
    top: -28px;
    right: 5px;
    content: "≡";
}

/* Reference for how to get windows emoji: */
/* https://byui-cse.github.io/wdd230-course/lesson03/aa-course-homepage-03.html */
/* Windows key plus . */
/* Reference for how to position pseudo element content: */
/* https://stackoverflow.com/questions/23566624/before-pseudo-element-without-moving-actual-content */

.active {
    position: relative;
}

.active::before {
    content: "🟡";
    position: absolute;
    left: 17%;
}

/* Reference for closing X checkbox: 2612 */
/* https://www.compart.com/en/unicode/U+2612 */
#menu.show::before {
    position: absolute;
    top: -10px;
    right: 4px;
    content: "\2612";
    font-size: 50px;
}

.navigation li {
    display: none;
}

.show li {
    display: block;
}

/* Referene on how to remove bullets from a list: */
/* https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
/* References for navation bar: */
/* https://www.w3schools.com/css/css_navbar.asp */
/* https://codepen.io/blazzard-jason/pen/LYgYQEb */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-align: center;
    background: black;
    color: white;
}

/* Reference for changing cursor to a pointer hand on li tags: */
/* https://www.w3schools.com/cssref/pr_class_cursor.php */
nav ul li:hover,
nav ul li a:hover {
    background: #b4d5e4;
    color: black;
    cursor: pointer;
}

/* Reference for font-size: */
/* https://www.w3schools.com/css/css_font_size.asp */
/* Reference for removing underline from link: */
/* https://www.w3schools.com/css/css_link.asp */
/* Reference for how to make entire li as a link: */
/* https://stackoverflow.com/questions/13745347/make-whole-li-as-link-with-proper-html */

nav ul li a {
    display: block;
    padding: 20px 0;
    color: white;
    font-size: 1.7em;
    text-decoration: none;
}

/* Reference for nth-of-type selector: */
/* https://www.w3schools.com/cssref/sel_nth-of-type.php */
nav ul li:nth-of-type(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

nav ul li:nth-of-type(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

nav ul li:nth-of-type(3) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

nav ul li:nth-of-type(4) {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

nav ul li:nth-of-type(5) {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

/* Bountiful Temple Image */
.hero {
    /* This centers the image */
    text-align: center;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

/* Reference for overlaying label: */
/* https://codepen.io/blazzard-jason/pen/NWMeOQE */
/* Reference for how to set opacity to only background color not text: */
/* https://www.geeksforgeeks.org/set-the-opacity-only-to-background-color-not-on-the-text-in-css/ */
/* References for radial-gradient: */
/* https://codepen.io/blazzard-jason/pen/NWMeOQE */
/* https://www.w3schools.com/css/css3_gradients_radial.asp */
/* Reference for color picker: */
/* https://www.w3schools.com/colors/colors_picker.asp */
.heroLabel {
    position: absolute;
    top: 10vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid #000;
    /* opacity is done with rgba with 0.75 as the opacity */
    background: radial-gradient(rgb(255, 255, 255, 0.7), rgba(29, 65, 82, 0.2));
    box-shadow: 0 0 3rem #fff;
    padding: 2px;
}

.heroLabel p {
    font-size: 6vw;
    font-weight: bold;
}

main {
    display: grid;
}

main h2,
section {
    margin: 0 1rem;
}

main h2 {
    text-align: center;
    border-bottom: 2px solid lightgrey;
    padding-top: 40px;
}

h3 {
    font-size: 1.3rem;
}

section.card ol li,
section.card p,
footer p {
    font-size: 1.2rem;
}

section.card {
    background: white;
    border-radius: 15px;
    border: 2px solid lightgrey;
}

section.card h3 {
    text-align: center;
    background: #1d4152;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    padding: 15px;
    margin: 0;
}

section.card ol {
    background: white;
}

section.card ol li {
    line-height: 30px;
}

/* Learning Activities Card */
section.card:nth-of-type(1) {
    margin-top: 30px;
}

/* Reference for link color blue: */
/* https://stackoverflow.com/questions/4774022/whats-default-html-css-link-color */
section.card ol li a {
    color: #0000EE;
}

/* Reference on how to number like this 01, 02, etc: */
/* https://stackoverflow.com/questions/5290587/is-there-a-way-to-append-leading-zeros-to-an-ordered-number-list-01-or-001-as */
/* Reference on how to select the nth time the class shows up: */
/* https://www.w3schools.com/cssref/sel_nth-of-type.php */
.card:nth-of-type(1) ol {
    list-style-type: decimal-leading-zero;
}

/* Information Card */
section.card:nth-of-type(2) {
    margin-top: 10px;
}

section.card p {
    text-align: center;
}

/* Google Map of Bountiful */
iframe {
    width: 93%;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background: #1d4152;
    padding: 5px;
    margin-top: 20px;
}

footer p {
    color: white;
    text-align: center;
    line-height: 25px;
}

footer p#lastModified {
    color: yellow;
}